.register_user_main_div{
    width: 40%;
    border: 1px solid black;
    margin: auto;
    border-radius: 5px;
}

.input_box{
    padding: 8px;
    width: 70%;
    margin: 10px 0;
}

.select_tags_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.select_tag {
    width: 35%;
    padding: 8px;
}

.btn {
    padding: 10px;
    width: 74%;
    margin: 15px 0;
}